.title {
    font-size: 120px;
}

.title__red {
    color: #a22;
}

.title__copy {
    background-color: antiquewhite;
    font-weight: bold;
    padding: 7px;
    border-radius: 8px;
    margin: 25px 0;
    margin-bottom: 55px;
    font-size: 18px;
}

.header--button {
    padding: 15px 30px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #a22;
    color: white;
    border: 1px solid black;
    box-shadow: 10px 10px 25px 5px #000;
    text-decoration: none;
    margin: 15px 0;
}

.header--button:hover {
    color: white;
}

@media (max-width: 600px) {
    .title {
      font-size: 45px;
    }

    .title__copy {
    padding: 4px;
    border-radius: 8px;
    margin: 25px 0;
    margin-bottom: 55px;
    font-size: 15px;
    }
  
  }