.menu {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    background-color: #a22;
}

.title-nav {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

.title-nav:hover {
    color: #000;
}

.title-white {
    color: #fff;
}

.menu__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    margin: 0 10px;
    color: white;
}

.menu__items p:hover{
    text-decoration: underline;
    margin: 0 10px;
}

.menu__items p {
    margin: 0 10px;
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.link:hover {
    color: white;
    text-decoration: none;
}

.link-deplegable {
    display: block;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

.link-deplegable:hover {
    color: #000;
}