.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 50px;
    background-color: #a22;
}

.title-nav {
    color: #000;
    text-decoration: none;
    font-size: 27px;
}

.title-nav:hover {
    color: #000;
}

.title-white {
    color: #fff;
}

.menu__items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    color: white;
}

.menu__items p:hover{
    text-decoration: underline;
    margin: 0 10px;
}

.menu__items p {
    margin: 0 10px;
}

.link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.link:hover {
    color: white;
    text-decoration: none;
}

.link-deplegable {
    display: block;
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}

.link-deplegable:hover {
    color: #000;
}

@media (max-width: 600px) {
    .title-nav {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        line-height: 50px;
    }
    
    .title-nav:hover {
        color: #000;
    }
    
    .title-white {
        color: #fff;
        text-decoration: none;
        line-height: 50px;
    }

    .menu {
        width: 100%;
        display: flex;
        height: 50px;
        background-color: #a22;
    }

    .menu__items{
        display: flex;
        align-items: center;
        padding: 0 5px;
        color: white;
    }

    .link {
        color: white;
        text-decoration: none;
        margin: 0 4px;
    }
  
  }