.item-list {
    background-color: #ededed;
    padding: 30px 0;
    
}

.item-list-container{
    width: 90%;
    margin: 0 auto;
}

.itemlist__title {
    font-size: 35px;
    text-decoration: underline;
    margin: 20px auto;
    margin-bottom: 40px;
}

img {
    width: 200px;
    height: 250px;
}

.fila {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}